body
{
    background-color: black;
}
.orange{
    background-color: orange;
    color: white;
    border-color: orange;
}
.black{
    background-color: black;
    color: white;
    border-color: rgb(99, 98, 98);
}
.grey{
    background-color: grey;
    color: black;
    border-color: grey;
}
.blacktext{
    background-color: black;
    border: 0px;
    color: white;
    text-align: right;
    width: 485px;
}
.botones input{
    width: 120px;
    height: 100px;
    text-align: center;
    font-size: 50px;
}
#botoncero{
    width: 244px;
    text-align: left;
    padding-left: 45px;
}
#campo{
    font-size: 100px;
}
.center{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}